@import url(https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Serif+Caption:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

/*------------------------prueba------------------------*/
:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}
/*/--------------------------------------------------*/


/*Selectores de Elementos: Estilizando por Nombre - Cambiando el Color del Texto - Alineando el Texto*/

h1 {
    color: #E6E6FA;
    font-size: 50px;
    text-align: center;
}

button {
    color:var(--white); 
            border-radius: 15px;
            background-color:red;
            
}



/*Fuente de respaldo genérica*/

body {
    font-family: 'PT Mono', sans-serif;
    font-size: larger;
    color: #E6E6FA;
    
}



h2 {
    color: #E6E6FA;
    font-size: 2em;
    font-family:'PT Serif Caption', sans-serif ;
}


/*selector universal - Añadiendo Fondo de Color*/
    * {
    background-color: var(--grey-900);
    }

/*Selectores de Clase: Estilizando por Grupo*/

.mi-clase {

color: #E6E6FA;
font-size: 100%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: justify;
padding: 10px;
border: Thistle;
/*----------------------------------- box-sizing en CSS----------*/
width: 960px; /* box-sizing en CSS a partir de aqui*/
height: 134px;
box-sizing: border-box; /* box-sizing termina aca*/
/*-----------------------------------box-sizing en CSS----------*/

}

/*Selectores de ID: Estilizando de Forma Única*/
#mi-id {

    font-size: 24px;

}

/*Selectores Universales: ¡Estiliza Todo!,  eliminar todos los márgenes 
y rellenos de cada elemento de tu página al asignarles un valor 0.*/

* {
    margin: 0;
    padding: 0;
}

/*Selectores de atributo*/

a[href="https://www.bing.com/ck/a?!&&p=bb0ccf2fea32399d42391e01624c95938df532680f1dd6eb7eb5ce381880de6bJmltdHM9MTc1ODQxMjgwMA&ptn=3&ver=2&hsh=4&fclid=0c31a4bc-61af-6cb8-355b-b2e860086d3f&u=a1L3ZpZGVvcy9yaXZlcnZpZXcvcmVsYXRlZHZpZGVvP3E9ZWxwcmluY2lwaXRvJm1pZD0zOTZEMzFCNDg5ODY1OTFCNjVBODM5NkQzMUI0ODk4NjU5MUI2NUE4JkZPUk09VklSRQ"] {

    /* reglas */
    color: orange;
    text-decoration: underline dotted;

}

/*Las pseudoclases*/

button:hover {
    background-color: rgb(188, 182, 182);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*Combinaciones*/

article>p {
    font-size: 18px;
    line-height: 1.6;
}

/*Displays es como una instrucción que le dice al navegador cómo debe comportarse cada elemento en tu página. */

.caja {
    display: inline-block;
    /* Se comporta como un inline, pero admite width y height */
    font-size: 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(147, 179, 190);
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(113, 0, 128);
}

/*Inicio de parte nueva con reto*/

.espaciador {
    margin:80px 0px 0px 0px;
    position: relative;
    background-color: #161616;
    width: 300px;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px 0;
}

.card_title {
    text-align: center;
}

.title {
    font-size: 25px;
    margin: 28px 0;
    margin-bottom: 18px;
}

.title h5, p {
    margin: 18px;
}

.title p {
    font-size: 16px;
    color: #c4f82a;
}

.card_title img {
    width: 80px;
    height: auto;
    border-radius: 999px;
}


.btn_list {
    margin-top: 30px;
}

.btn_list a {
    display: block;
    text-align: center;
    background-color: #333333;
    margin: 10px 20px;
    border-radius: 4px;
    height: 20px;
    padding: 8px;
    text-decoration: none;
    color: #FFFF;
}

.btn_list a:hover {
    background-color: #c4f82a;
    color: #333333;
    border: 1px solid transparent;
}

.contact_btn {
    position: absolute;
    bottom: -30px;
    right: -30px;

    border: 0.5px solid #333333;
    background-color: transparent;
    border-radius: 999px;
    height: 80px;
    width: 80px;
    font-size: 30px;
}

.espaciador_1{
background-color: white;   
}

footer {
    color:#9f9f9f;
    margin:300px 0px 0px 0px;
    
    
}

.superior {
    
    display: flex;
    justify-content: flex-start;

}

.superior article ul li {
    
    margin: 15px;
    /*color: red;*/


}

.inferior {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagenes_inferior {
    display: flex;
    justify-content: center;
}

.inferior div img { 
    margin: 25px;
    width: 4%;
    height:auto;


}



.inferior div ul {
    display: flex;
    

}

.inferior div ul li {
    display: flex;
    margin: 15px

}

.links {
    list-style-type: none;
/*color: red;*//*prueba de color para validar que funciona mi selector*/  
}


h3 {
    /*display: block;*/
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: rgb(223, 214, 214);
}

.sticky-header {
position: sticky;

    top: 0;

    background-color: rgb(210, 87, 87);

    color: white;

    padding: 10px;

    text-align: center;

    z-index: 1000;

    font-weight: bold;

}